.buttons{
  display: flex;
  gap:20px;
}
  p
  {
    text-align: center;
    font-size: 30px;
    margin-top:0px;
  font-family: 'Courier New', Courier, monospace;

  }
  
  button
  {
   width: 70px;
   height: 30px;
    color:white;
    background-color: pink;
  }